*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #203D89;
    background-size: cover;
    font-family: "calibri";
}

.Encabezado {
    width: 100%;
    background-color: #7593E4;
    padding-top: 12px;
    margin: auto;
    color: whitesmoke;
    text-align: center;
    font-family: cursive;
    color: black;
   
}

.Encabezado img {
    width: 50px;
    position: absolute;
    top: 9px;
    left: 1457px;
}

nav ul li {
    width: 287px;
    background-color: #7593E4;
    border-radius: 4px;
    color: whitesmoke;
    float: left;
    margin: 4px;
    list-style: none;
    margin-top: 5px;
    margin-right: 2px;
    text-align: center;
    padding: 10px;
    margin-left: 11px;
    
}

.clearfix{
    clear: both;
}

.footer {
    width: 88%;
    background-color: #7593E4;
    padding: 20px;
    margin: auto;
    font-family: 'calibri';
    color: whitesmoke;
}

.footer a{
    color: whitesmoke;
    text-decoration: none;
}

.footer strong {
    margin-left: 20px;
    color: whitesmoke;
    text-decoration: none;
}

.titulos h2 {
    width: 12%;
    background-color: #7593E4;
    padding: 15px;
    margin: 10px;
    margin-top: 5px;
    margin-left: 12px;
    border-radius: 4px;
    color: rgb(0, 0, 0);border-radius: 4px;
}

.galeriaimagenes {
    margin-left: 90px;
    display: flex;
    width: 88%;
    height: 450px;
}

.galeriaimagenes img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.galeriaimagenes :hover{
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.arribafooter {
    width: 88%;
    background-color: #89a3eb;
    padding: 18px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-family: 'calibri';
    color: whitesmoke;
    margin: auto;
    margin-top: 40px;
}

.arribafooter a{
    margin-left: 20px;
    color: whitesmoke;
    text-decoration: none;
}