*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
    color: #333;
    background-size: cover;
    font-family: "Segoe UI, Tahoma, Ginebra, Verdana, sans-serif";
}

.Encabezado {
    background-color: #4CAF50;
    font-size: 25px;
    text-align: center;
    color: black;
    padding: 20px;
}

.Encabezado img {
    width: 5%;
    border-radius: 5px;
    float: right;
    margin: -41px -2px 0px 0px;
}

.menu {
    background-color: #333;
    padding: 15px 0px 15px 0px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-size: 20px;
}

.advertisement {
    flex: 0 0 300px;
    margin-left: 20px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: fixed;
    top: 150px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-button {
    align-self: flex-end;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

#contenedor-tabla {
    margin-left: 58px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 600px;
}

table {
    background-color: whitesmoke;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

th, td {
    padding: 13px;
}

thead {
    background-color: #4CAF50;
    border-bottom: solid 4px #000000;
    color: whitesmoke;
}

tr:nth-child(even) {
    background-color: #4d4d4d;
    color: whitesmoke;
}

.clearfix{
    clear: both;
}

.footer {
    width: 88%;
    background-color: #333;
    padding: 20px;
    margin: auto;
    color: whitesmoke;
}

.footer a{
    color: whitesmoke;
    text-decoration: none;
}

.footer strong {
    margin-left: 20px;
    color: whitesmoke;
    text-decoration: none;
}

.arribafooter {
    width: 88%;
    background-color: #4d4d4d;
    padding: 18px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: whitesmoke;
    margin: auto;
    margin-top: 40px;
}

.arribafooter a{
    margin-left: 20px;
    color: whitesmoke;
    text-decoration: none;
}